<!DOCTYPE HTML>
<!--
	Parallelism by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<%- include('layouts/header'); -%>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main">

			<!-- Items -->
			<div class="items">

				<div class="item intro span-2">
					<h1>명언</h1>
					<p>오늘의 글귀는 ?</p>
				</div>

				<% for (var i=0; i < data1.length; i++) { %>
				<article class="item thumb span-<%= Math.floor( Math.random() * 3 )+1 %>">
					<h2><%= data1[i].tag %></h2>
					<p><%= data1[i].quote %> <br> - <%= data1[i].author %> -</p>
					<img src="images/thumbs/0<%= Math.floor( Math.random() * 8 )+1 %>.jpg" alt="">
				</article>
				
				<% } %>



			</div>

			<!-- Items -->
			<div class="items">

				<% for (var i=0; i < data2.length; i++) { %>
				<article class="item thumb span-<%= Math.floor( Math.random() * 3 )+1 %>">
					<h2><%= data2[i].tag %></h2>
					<p><%= data2[i].quote %> <br> - <%= data2[i].author %> -</p>
					<img src="images/thumbs/0<%= Math.floor( Math.random() * 8 )+1 %>.jpg"
							alt="">
				</article>
				<% } %>

			</div>
			
		</section>
		<a href="/recommend">Random</a>

		<!-- Footer -->
		<section id="footer">
			<% if(loggedIn) { %>
			<a href="/logout">logout</a>
			<a href="/postNew">new post</a>
			<% } %>
      <% if(!loggedIn) { %>
			<a href="/login">login</a>
			<a href="/register">register</a>
			<% } %>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>