<!DOCTYPE HTML>
<!--
	Parallelism by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<%- include('layouts/header'); -%>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main">

			<!-- Items -->
			<div class="items">

				<div class="item intro span-<%= Math.floor( Math.random() * 3 )+1 %>">
					<h1>랜덤</h1>
					<p>오늘 필요한 글귀는?</p>
				</div>

				<article class="item thumb span-<%= Math.floor( Math.random() * 3 )+1 %>">
					<h2><%= data[0].tag %></h2>
					<p><%= data[0].quote %> <br> - <%= data[0].author %> -</p>
					<img src="images/thumbs/0<%= Math.floor( Math.random() * 8 )+1 %>.jpg" alt="">
				</article>



			</div>

			
		</section>
		<a href="/">Back</a>


		<!-- Footer -->
		<section id="footer">
			
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>